// --- At-least / Until Media Queries
// Media Queries
$xs: 400px;
$sm: 708px;
$md: 850px;
$lg: 992px;
$xl: 1280px;
$menu-breakpoint: 1000px;

@mixin at-least($device-width) {
    @if ($nomq){
        @content
    } @else {
        @media screen and (min-width: $device-width) {
            @content
        }
    }
}
@mixin until($device-width) {
    @if ($nomq){
        @content
    } @else {
        @media screen and (max-width: $device-width - 1) {
            @content
        }
    }
}

@mixin ie10plus() {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content
    }
}