// Colors
$white: #fff;
$black: #000;
$grey: #666d88;

$dblue: rgba(1, 22, 39, 1);
$light-dblue: lighten($dblue, 10%);

$pink: rgba(231, 29, 54, 1);
$light-pink: lighten($pink, 10%);

$off-white: rgba(253, 255, 252, 1);

$teal: rgba(46, 196, 182, 1);
$teal-light: lighten($teal, 20%);

$gold: rgba(255, 159, 28, 1);
$gold-light: lighten($gold, 10%);

// Font Sizes
$small: 	12px;
$medium: 	18px;
$large: 	25px;
$big: 		30px;

// Font Weight
$light: 300;
$normal: 400;
$bold: 700;
$extra-bold: 900;

// Palette url: "coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c"

