@font-face {
    font-family: 'audimatbold';
    src: url('./audimat-bold-webfont.woff2') format('woff2'),
         url('./audimat-bold-webfont.woff') format('woff'),
         url('./audimat-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'audimatbold_italic';
    src: url('./audimat-bolditalic-webfont.woff2') format('woff2'),
         url('./audimat-bolditalic-webfont.woff') format('woff'),
         url('./audimat-bolditalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'audimatitalic';
    src: url('./audimat-italic-webfont.woff2') format('woff2'),
         url('./audimat-italic-webfont.woff') format('woff'),
         url('./audimat-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'audimatregular';
    src: url('./audimat-regular-webfont.woff2') format('woff2'),
         url('./audimat-regular-webfont.woff') format('woff'),
         url('./audimat-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
