/*General Styling*/
html {
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: Josefin Slab !important; }

h2,
h3,
h4,
h5,
h6 {
  font-family: Josefin Slab !important;
  color: white !important; }

p {
  font-family: Josefin Slab !important;
  font-size: 18px;
  color: white; }

.section-wpr {
  padding-top: 50px;
  padding-bottom: 50px; }

/*Animation Action and Styling*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    /*transform*/
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

  100% {
    opacity: 1;
    /*transform*/
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    /*transform*/
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

  100% {
    opacity: 1;
    /*transform*/
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
.fadeInLeft {
  /*animation-name*/
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  /*animation-duration*/
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  /*animation-timing-function*/
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    /*transform*/
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  100% {
    opacity: 1;
    /*transform*/
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    /*transform*/
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  100% {
    opacity: 1;
    /*transform*/
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
.fadeInRight {
  /*animation-name*/
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -ms-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  /*animation-duration*/
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  /*animation-timing-function*/
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

/*Section Styling*/
.section-bg1 .container {
  width: 100%;
  padding: 0; }
  .section-bg1 .container .hero-img-wpr {
    text-align: center;
    padding-top: 500px;
    background-image: url("imgs/background-img1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center left;
    height: 790px; }
    .section-bg1 .container .hero-img-wpr h1 {
      color: black;
      font-size: 50px; }
    .section-bg1 .container .hero-img-wpr a {
      margin-top: 20px;
      color: black;
      font-size: 20px;
      font-weight: 600;
      font-family: Josefin Slab;
      line-height: 36px;
      background-color: rgba(128, 128, 128, 0.5);
      border: 2px solid grey;
      /*transition-duration*/
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }
      .section-bg1 .container .hero-img-wpr a:hover {
        border: 2px solid indigo;
        background-color: rgba(177, 99, 163, 0.8);
        font-weight: 600;
        color: yellow;
        /*transition-property*/
        -webkit-transition-property: background-color, font-weight, border, color;
        -moz-transition-property: background-color, font-weight, border, color;
        -o-transition-property: background-color, font-weight, border, color;
        transition-property: background-color, font-weight, border, color; }

.logo-wpr {
  text-align: right;
  background-color: #bc243c;
  padding: 16px 0 0; }
  .logo-wpr #mobile-logo-wpr {
    display: none; }
  .logo-wpr.fixed {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left; }
    .logo-wpr.fixed #mobile-logo-wpr {
      margin-left: 20px;
      margin-bottom: 20px;
      display: block; }
      .logo-wpr.fixed #mobile-logo-wpr img {
        width: 50px;
        padding: 0 8px 0;
        margin-bottom: 4px; }
      .logo-wpr.fixed #mobile-logo-wpr span {
        display: inline; }
      .logo-wpr.fixed #mobile-logo-wpr .btn {
        float: right;
        margin-top: -8px;
        margin-right: 50px;
        background-color: transparent;
        color: white;
        font-size: 20px;
        border: 3px double white; }
    .logo-wpr.fixed .container {
      display: none; }
  .logo-wpr .row div:first-of-type {
    padding-right: 7.5px; }
    .logo-wpr .row div:first-of-type ~ div {
      padding-left: 7.5px; }
  .logo-wpr img {
    border-right: 4px double white;
    padding: 4px 8px 0;
    margin-bottom: 8px; }
  .logo-wpr span {
    text-align: left;
    display: block;
    font-family: Josefin Slab;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-top: 10px; }
    .logo-wpr span ~ span {
      display: block;
      font-size: 12px;
      margin-top: 0; }

.section-bg3 {
  background-color: #009b77;
  border-top: 4px double white;
  position: relative; }
  .section-bg3 h3 {
    font-size: 32px;
    border-bottom: 3px double white;
    margin-top: -30px;
    margin-bottom: 40px; }
  .section-bg3 p {
    font-weight: 600; }

.section-bg4 {
  background-color: #55b4b0;
  border-top: 4px double white;
  position: relative; }
  .section-bg4 .card-section {
    height: 950px; }
    .section-bg4 .card-section h3 {
      font-size: 32px;
      border-bottom: 3px double white;
      margin-top: -30px;
      margin-bottom: 40px; }
    .section-bg4 .card-section .portfolio-card {
      text-align: center;
      background-color: #55b4b0;
      background-position: center 22%;
      background-repeat: no-repeat;
      height: 90px;
      padding-bottom: 240px;
      padding-left: 10px;
      padding-right: 10px;
      border: 2px solid black;
      /*border-radius*/
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      /*transition-duration*/
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }
      .section-bg4 .card-section .portfolio-card#card1 {
        background-image: url("imgs/frontend-icon1-inverted.png");
        /*transition-duration*/
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s; }
      .section-bg4 .card-section .portfolio-card#card2 {
        background-image: url("imgs/prototyping-icon1-inverted.png");
        /*transition-duration*/
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s; }
      .section-bg4 .card-section .portfolio-card#card3 {
        background-image: url("imgs/testing-icon1-inverted.png");
        /*transition-duration*/
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s; }
      .section-bg4 .card-section .portfolio-card img {
        opacity: 0;
        margin-top: 30px;
        /*transition-duration*/
        -webkit-transition-duration: .75s;
        -moz-transition-duration: .75s;
        -o-transition-duration: .75s;
        transition-duration: .75s; }
      .section-bg4 .card-section .portfolio-card strong {
        display: block;
        color: white;
        font-size: 22px;
        font-weight: 400;
        font-family: Josefin Slab;
        letter-spacing: 2px;
        padding-top: 15px;
        /*transition-duration*/
        -webkit-transition-duration: .75s;
        -moz-transition-duration: .75s;
        -o-transition-duration: .75s;
        transition-duration: .75s; }
      .section-bg4 .card-section .portfolio-card.active {
        text-decoration: none;
        background-color: #efc050;
        /*transition-property*/
        -webkit-transition-property: background-color;
        -moz-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        /*transition-timing-function*/
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out; }
        .section-bg4 .card-section .portfolio-card.active#card1, .section-bg4 .card-section .portfolio-card.active#card2, .section-bg4 .card-section .portfolio-card.active#card3 {
          background-image: none;
          background-position: center top;
          transition-property: background-image, background-position; }
        .section-bg4 .card-section .portfolio-card.active img {
          opacity: 1;
          margin-top: 20px;
          /*transition-property*/
          -webkit-transition-property: opacity, margin-top;
          -moz-transition-property: opacity, margin-top;
          -o-transition-property: opacity, margin-top;
          transition-property: opacity, margin-top; }
        .section-bg4 .card-section .portfolio-card.active strong {
          color: black;
          /*transition-property*/
          -webkit-transition-property: color;
          -moz-transition-property: color;
          -o-transition-property: color;
          transition-property: color; }
    .section-bg4 .card-section .projects-reveal {
      display: none;
      width: 316.75%;
      margin-top: 16px;
      text-align: center;
      padding: 16px 36px 0 36px;
      font-size: 16px; }
      .section-bg4 .card-section .projects-reveal img {
        position: relative;
        width: 100%;
        /*box-shadow*/
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.8); }
      .section-bg4 .card-section .projects-reveal span {
        font-family: Josefin Slab;
        font-weight: 400; }
      .section-bg4 .card-section .projects-reveal .turnedupshadow {
        height: 228px;
        background: url(imgs/turnedup-shadow.png) no-repeat;
        background-position: 0 100%; }
        .section-bg4 .card-section .projects-reveal .turnedupshadow.md, .section-bg4 .card-section .projects-reveal .turnedupshadow.lg {
          height: 314px;
          background-size: contain;
          padding-top: 16px; }
          .section-bg4 .card-section .projects-reveal .turnedupshadow.md img, .section-bg4 .card-section .projects-reveal .turnedupshadow.lg img {
            height: 300px; }
          .section-bg4 .card-section .projects-reveal .turnedupshadow.md .text-reveal, .section-bg4 .card-section .projects-reveal .turnedupshadow.lg .text-reveal {
            margin-top: 16px;
            height: 91%; }
        .section-bg4 .card-section .projects-reveal .turnedupshadow.sm .text-reveal {
          margin-top: 16px;
          height: 89.5%; }
        .section-bg4 .card-section .projects-reveal .turnedupshadow.lg {
          height: 330.25px !important; }
          .section-bg4 .card-section .projects-reveal .turnedupshadow.lg a {
            margin-top: 55px; }
      .section-bg4 .card-section .projects-reveal .text-reveal {
        position: absolute;
        top: 0;
        left: 0;
        height: 95.5%;
        margin-right: 15px;
        margin-left: 15px;
        padding-top: 10%;
        padding-right: 15px;
        padding-left: 15px;
        background-color: rgba(128, 128, 128, 0.9);
        display: none; }
        .section-bg4 .card-section .projects-reveal .text-reveal span {
          color: white;
          font-size: 18px;
          font-weight: 700; }
        .section-bg4 .card-section .projects-reveal .text-reveal a {
          color: black;
          font-size: 16px;
          font-weight: 400;
          font-family: Lato;
          background-color: #efc050;
          width: 100%;
          margin-top: 8px;
          border: 1px solid transparent;
          float: left;
          /*transition-duration*/
          -webkit-transition-duration: 1s;
          -moz-transition-duration: 1s;
          -o-transition-duration: 1s;
          transition-duration: 1s; }
          .section-bg4 .card-section .projects-reveal .text-reveal a:hover {
            color: white;
            background-color: transparent;
            border: 1px solid white;
            /*transition-property*/
            -webkit-transition-property: color, background-color, border;
            -moz-transition-property: color, background-color, border;
            -o-transition-property: color, background-color, border;
            transition-property: color, background-color, border; }
      .section-bg4 .card-section .projects-reveal.active {
        display: block; }
    .section-bg4 .card-section .reveal-card2 {
      margin-left: -390px; }
    .section-bg4 .card-section .reveal-card3 {
      margin-left: -780px; }
  .section-bg4 .mobile-reveal {
    display: none;
    text-align: left; }

.section-bg5 {
  background-color: #e15d44;
  height: 450px;
  border-top: 4px double white;
  position: relative; }
  .section-bg5 .flip-section-wpr {
    display: none; }
    .section-bg5 .flip-section-wpr h3 {
      font-size: 32px;
      border-bottom: 3px double white;
      margin-top: -30px;
      margin-bottom: -8px; }
    .section-bg5 .flip-section-wpr.active {
      display: block !important; }
    .section-bg5 .flip-section-wpr .skills-wpr {
      text-align: center;
      padding: 16px 0;
      color: #009b77;
      font-size: 24px;
      font-weight: 700;
      font-family: Roboto Slab;
      border-left: 10px double #009b77;
      border-bottom: 10px double #009b77;
      border-bottom-left-radius: 20px;
      background-color: whitesmoke;
      width: 100%;
      height: 75px; }
      .section-bg5 .flip-section-wpr .skills-wpr.back {
        border-left: 10px double whitesmoke;
        border-bottom: 0px solid transparent;
        border-top: 10px double whitesmoke;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        background-color: #009b77;
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        padding: 16px; }
  .section-bg5 .flip-container {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 75px; }
    .section-bg5 .flip-container .flip-wpr {
      -webkit-transform-origin: 100% 37.5px;
      /* half of height */
      -moz-transform-origin: 100% 37.5px;
      /* half of height */
      -o-transform-origin: 100% 37.5px;
      /* half of height */
      transform-origin: 100% 37.5px;
      /* half of height */
      /*transition*/
      -webkit-transition: 0.6s;
      -moz-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;
      /*transform-style*/
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      .section-bg5 .flip-container .flip-wpr .front, .section-bg5 .flip-container .flip-wpr .back {
        position: absolute;
        top: 0;
        left: 0;
        /*backface-visibility*/
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden; }
      .section-bg5 .flip-container .flip-wpr .back {
        /*transform*/
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg); }
    .section-bg5 .flip-container:hover .flip-wpr {
      /*transform*/
      -webkit-transform: rotateX(-180deg);
      -moz-transform: rotateX(-180deg);
      -ms-transform: rotateX(-180deg);
      -o-transform: rotateX(-180deg);
      transform: rotateX(-180deg); }
  .section-bg5 .ie-sux .back {
    display: none; }

.section-bg6 {
  background-color: #dfcfbe;
  border-top: 4px double white;
  position: relative; }
  .section-bg6 h3 {
    color: dimgrey !important;
    font-size: 32px;
    border-bottom: 3px double dimgrey;
    margin-bottom: 20px; }
  .section-bg6 h4 {
    padding: 10px 0;
    font-size: 28px;
    color: dimgrey !important; }
  .section-bg6 a {
    display: block;
    margin-top: 16px; }
    .section-bg6 a img {
      width: 100%; }
  .section-bg6 .field {
    margin: 16px 0; }
    .section-bg6 .field label {
      color: dimgrey;
      font-size: 16px;
      font-family: Roboto Slab; }
    .section-bg6 .field .form-control {
      height: 55px;
      font-size: 24px;
      font-weight: 300;
      font-family: Josefin Slab;
      letter-spacing: 1.5px; }
      .section-bg6 .field .form-control.funtime {
        border: 2px solid indigo;
        background-color: rgba(177, 99, 163, 0.8);
        color: yellow;
        /*transition-property*/
        -webkit-transition-property: background-color, font-weight, border, color;
        -moz-transition-property: background-color, font-weight, border, color;
        -o-transition-property: background-color, font-weight, border, color;
        transition-property: background-color, font-weight, border, color; }
  .section-bg6 .success {
    padding: 16px;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    /*border-radius*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .section-bg6 .error {
    padding: 16px;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    /*border-radius*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

footer {
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: Herr Von Muellerhoff;
  padding: 32px 0 !important;
  margin: 0;
  width: 100%; }

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 767px) {
  .hero-img-wpr {
    background-image: url("imgs/mobile-background-img1.png") !important;
    padding-top: 500px !important;
    background-attachment: inherit !important;
    background-position: center right !important;
    height: 0px !important; }
    .hero-img-wpr h1 {
      margin-top: -200px;
      margin-bottom: 0;
      font-size: 40px; }
      .hero-img-wpr h1 ~ a {
        margin-top: 0;
        font-size: 18px;
        padding: 0 6px; }

  #mobile-logo-wpr {
    margin-left: 0px !important; }
    #mobile-logo-wpr .btn {
      margin-right: 10px !important; }

  .color-card {
    display: none; }

  .section-bg4 .card-section {
    height: auto; }
    .section-bg4 .card-section .portfolio-card {
      margin-top: 10px; }
    .section-bg4 .card-section .projects-reveal {
      width: 100%;
      padding: 0; }
      .section-bg4 .card-section .projects-reveal .row:last-of-type {
        display: none; }
      .section-bg4 .card-section .projects-reveal .mobile-reveal {
        display: block !important; }
        .section-bg4 .card-section .projects-reveal .mobile-reveal ul {
          list-style: none;
          padding: 0; }
          .section-bg4 .card-section .projects-reveal .mobile-reveal ul li {
            margin-top: 16px;
            text-align: center;
            color: white;
            background-color: dimgrey;
            border-bottom: 10px double white;
            border-left: 10px double white;
            border-bottom-left-radius: 20px; }
      .section-bg4 .card-section .projects-reveal.reveal-card1 .mobile-reveal {
        padding: 0 !important; }
      .section-bg4 .card-section .projects-reveal.reveal-card2, .section-bg4 .card-section .projects-reveal.reveal-card3 {
        margin: 0; }

  .section-bg5 {
    height: auto !important; }
    .section-bg5 .flip-container {
      height: 35px; }

  .section-bg6 h4 {
    display: none; }
  .section-bg6 #mobile1 {
    margin-bottom: 30px; } }
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-img-wpr {
    padding-top: 700px;
    background-image: url("imgs/mobile-background-img1.png") !important;
    background-attachment: inherit;
    height: 0px; }
    .hero-img-wpr h1 {
      margin-top: -155px;
      margin-bottom: 0; }
      .hero-img-wpr h1 ~ a {
        margin-top: 0; }

  .section-bg4 .card-section {
    height: 670px; }
    .section-bg4 .card-section .portfolio-card {
      padding-bottom: 0; }
      .section-bg4 .card-section .portfolio-card#card1, .section-bg4 .card-section .portfolio-card#card2, .section-bg4 .card-section .portfolio-card#card3 {
        background-image: none !important; }
        .section-bg4 .card-section .portfolio-card#card1 img, .section-bg4 .card-section .portfolio-card#card2 img, .section-bg4 .card-section .portfolio-card#card3 img {
          display: none !important; }
    .section-bg4 .card-section .projects-reveal.reveal-card2 {
      margin-left: -250px; }
      .section-bg4 .card-section .projects-reveal.reveal-card2 .turnedupshadow.md {
        height: 254.25px !important; }
        .section-bg4 .card-section .projects-reveal.reveal-card2 .turnedupshadow.md img {
          height: 230px !important; }
    .section-bg4 .card-section .projects-reveal.reveal-card3 {
      margin-left: -500px; }
      .section-bg4 .card-section .projects-reveal.reveal-card3 .turnedupshadow.sm {
        height: 152px !important; }
        .section-bg4 .card-section .projects-reveal.reveal-card3 .turnedupshadow.sm img {
          margin-top: 20px !important; }
    .section-bg4 .card-section .projects-reveal .turnedupshadow {
      height: 132px !important; }
      .section-bg4 .card-section .projects-reveal .turnedupshadow .text-reveal {
        display: none !important; }
      .section-bg4 .card-section .projects-reveal .turnedupshadow.lg {
        height: 271.25px !important; }
        .section-bg4 .card-section .projects-reveal .turnedupshadow.lg img {
          height: 238px !important; }

  .front {
    font-size: 22px !important;
    line-height: 20px;
    padding: 22px 0 !important; }
    .front#double-line {
      padding: 12px 0 !important; }

  .back {
    font-size: 12px !important;
    padding: 8px 16px !important; }

  .field {
    margin: 12px 0; } }
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card-section .projects-reveal.reveal-card2 {
    margin-left: -322px; }
    .card-section .projects-reveal.reveal-card2 .turnedupshadow.md {
      height: 311px !important; }
      .card-section .projects-reveal.reveal-card2 .turnedupshadow.md img {
        height: 284px !important; }
      .card-section .projects-reveal.reveal-card2 .turnedupshadow.md .text-reveal {
        height: 92% !important;
        padding-top: 25% !important; }
  .card-section .projects-reveal.reveal-card3 {
    margin-left: -647px; }
    .card-section .projects-reveal.reveal-card3 .turnedupshadow.sm {
      height: 199.25px !important; }
      .card-section .projects-reveal.reveal-card3 .turnedupshadow.sm img {
        margin-top: 16px; }
      .card-section .projects-reveal.reveal-card3 .turnedupshadow.sm .text-reveal {
        height: 87.5% !important; }
  .card-section .projects-reveal .turnedupshadow {
    height: 183px !important; }
    .card-section .projects-reveal .turnedupshadow .text-reveal {
      height: 94.5% !important;
      padding-top: 5% !important; }
    .card-section .projects-reveal .turnedupshadow.lg {
      height: 324.25px !important; }
      .card-section .projects-reveal .turnedupshadow.lg img {
        height: 290px !important; }
      .card-section .projects-reveal .turnedupshadow.lg .text-reveal {
        height: 88.5% !important; }

  .field textarea {
    height: 147px !important; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .turnedupshadow.sm .text-reveal {
    margin-top: 0 !important;
    height: 95.5% !important; }

  .field textarea {
    height: 248px !important; } }
