// About Section
.section-wpr.about-wpr {
    border: none;

    .about-text-wpr {
        padding: 65px 40px 0 65px;

        .about-text {
            @extend h3;

            span:first-of-type {
                display: block;
                margin: 16px 0 10px;
                line-height: 24px;
            }

            p {
                padding:10px 30px 0 30px;
                color: $pink;
                font-size: $large;
                font-weight: $light;
                line-height: 28px;

                span{
                    color: $pink;
                }
            }
        }
    }

    .about-img {
        width:100%;
    }
}
