// Fixed-Slide-Right-Menu
nav {
    transition: margin-top 300ms ease-in-out;

    position: fixed;
    right:0;
    z-index: 9998;
    margin-top: -95px;

    // temp
    &:hover{
        margin-top: 0;
    }

    .meun-slide {
        list-style-type: none;
        font-weight: 600;


        li {
            background-color: $light-sky-blue;
            border-bottom: 1px solid $grey;

            &:first-of-type {
                padding: 10px 0;
            }

            .menu-close-btn {
                display: block;
                padding:4px 28px;
                margin: 0 auto;
                background-color: transparent;
                border: 1px solid #428bca;
                color:#428bca;

                &:hover {
                    color:$grey;
                    border: 1px solid $grey;
                }
            }

            .meun-link {
                display: block;
                padding:20px 80px;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}





// *************************************
//
//   Start of NAV.JS CSS
//
// *************************************
// FIXED MENU SLIDE RIGHT
// .mask {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 15;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.8);
// }

// .nav-toggler:focus {
//     border:transparent;

//     &:hover {
//         color: transparent;
//         cursor: default;
//     }
// }

// /* general style for all menus */
// nav.menu {
//     position: fixed;
//     z-index: 20;
//     background-color: #67b5d1;
//     overflow: hidden;
//     -webkit-transition: all 0.3s;
//     -moz-transition: all 0.3s;
//     -ms-transition: all 0.3s;
//     -o-transition: all 0.3s;
//     transition: all 0.3s;
// }
// nav.menu ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }
// nav.menu a {
//     font-weight: 300;
//     color: #fff;
//     text-decoration: none;
// }
// button.close-menu {
//     background-color: #3184a1;
//     color: #fff;
// }
// button.close-menu:focus {
//     outline: none
// }
// /* slide menu right */
// nav.slide-menu-right {
//     top: 0;
//     width: 300px;
//     height: 100%;
// }
// nav.slide-menu-right li {
//     display: block;
//     text-align: center;
//     border-bottom: solid 1px #3184a1;
//     border-top: solid 1px #b5dbe9;
// }
// nav.slide-menu-right li:first-child {
//     border-top: none
// }
// nav.slide-menu-right li:last-child {
//     border-bottom: none
// }
// nav.slide-menu-right a {
//     display: block;
//     padding: 10px;
//     font-size: 18px;
// }
// nav.slide-menu-right button.close-menu {
//     margin: 10px 0;
//     padding: 10px 30px;
//     background-color: #3184a1;
//     color: #fff;
// }
// nav.slide-menu-right {
//     right: -300px
// }
// body.smr-open nav.slide-menu-right {
//     right: 0
// }
// body.pml-open #wrapper {
//     left: 300px
// }
// body.pmr-open #wrapper {
//     left: -300px
// }

// @media all and (max-width: 330px) {
//     nav.slide-menu-right {
//         top: 0;
//         width: 100%;
//     }
//     nav.slide-menu-left {
//         left: -100%
//     }
//     nav.slide-menu-right {
//         right: -100%
//     }
//     body.smr-open nav.slide-menu-right,
//     body.pmr-open nav.push-menu-right {
//         right: 0
//     }
//     body.pml-open #wrapper {
//         left: 100%
//     }
//     body.pmr-open #wrapper {
//         left: -100%
//     }
// }