// Header Section
.section-wpr.header {
    height:90px;
}

// Navigation links
.header-nav,
.footer-links {
    margin-right:40px;
    margin-top:-48px;

    li {
        float:right;
        color:$white;
        font-size:$small;
        font-weight:$bold;
        list-style-type: none;
        padding-left:15px;

        a {
            color:$white;

            &:hover,
            &.active {
                color:$pink;
                text-decoration: none;
            }
        }

        &:nth-child(even) {
            line-height: .9;
            color:$grey;
        }
    }
}