// Intro Section
.hero-wpr {
    // background: url('../imgs/keyword-bg1.jpg') no-repeat;
    padding-top: 16px;
    position: relative;

    h2 {
        position: absolute;
        bottom: -18px;
        right:0;
        font-size: 4em;
        color:$white;
    }
}