/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 330px) {
	.intro-wpr {
		display: none;
	}

	.section-wpr.dblue.fixed-header {
		display: block;
		border-bottom: 3px solid $white;
		position: fixed;
		height: 50px;
		z-index: 9999;

		a.btn {
			padding-left:0;
		}

		button.btn {
			padding:4px 16px;
			margin-right: 16px;
		}
	}

	.hero-wpr {
		padding-top: 135px;

		h2 {
			font-size: 40px;
		}
	}

	#bg-img1 {
		background: url(../imgs/v4.jpg)0/480px no-repeat;
		background-position: 50% -7%;
		height: 680px;
	}

	#bg-img1 .section-wpr.about-wpr .about-text-wpr {
		padding: 46px 0 0;

		.about-title {
			top: -18px;
			font-size: 3em;
			letter-spacing: -5px;
		}

		.about-text {
			padding:0 20px;

			.about-lead {
				margin: 0 0 35px;
			}

			span:nth-child(3) {
				font-size: 20px;
				font-weight: $normal;
				padding: 5px 15px 0 15px;
			}
		}
	}

	.contact-wpr .sub-section-wpr {
		padding:20px 0;
	}

	.contact-section {

		.col-xs-12 {
			padding:0;
		}

		.contact-title {
			top:1px;
			left:-40px;
			font-size: 3em;
			letter-spacing: -4px;
		}

		h3 {
			margin: 10px 0;
		}

		.connection-wpr {
			width: 320px;
			height: 340px;
		}
	}

	nav.slide {
		margin-top: 50px;
	}

	nav .meun-slide li {
		width: 100%
	}

}


/*iPhone 5 Landscape*/
@media only screen and (min-width: 331px) and (max-width: 767px) {
	.intro-wpr {
		display: none;
	}

	.section-wpr.dblue.fixed-header {
		display: block;
		border-bottom: 3px solid $white;
		position: fixed;
		height: 50px;
		z-index: 9999;

		a.btn {
			padding-left:0;
		}

		button.btn {
			padding:4px 16px;
			margin-right: 16px;
		}
	}

	nav.slide {
		margin-top: 50px;
	}

	nav .meun-slide li {
		width: 100%;

		.meun-link{
			padding: 24px 275px;
		}
	}

	.hero-wpr {
		padding-top: 100px;
		padding-left: 25%;

		h2 {
			font-size: 40px;
		}
	}


	#bg-img1 {
		background: url(../imgs/v4.jpg)0/775px no-repeat;
		background-position: 50% -30%;
		height: 680px;
	}

	#bg-img1 .section-wpr.about-wpr .about-text-wpr {
		padding: 46px 0 0;

		.about-title {
			top: -18px;
			font-size: 3em;
			letter-spacing: -5px;
		}

		.about-text {
			padding:0 20px;

			.about-lead {
				margin: 0 0 35px;
			}

			span:nth-child(3) {
				font-size: 20px;
				font-weight: $normal;
				padding: 5px 15px 0 15px;
			}
		}
	}


	.about-wpr .about-img {
		max-height: 320px !important;
	}

	.sub-section-wpr {
		h4 {
			font-size: 20px;

			~ p {
				font-size: 16px;
			}
		}
	}


	// Placeholder Color
	.form-control::-webkit-input-placeholder {
	   color: $text-pink;
	   font-size: 16px;
	   line-height: 21px;
	}

	.form-control:-moz-placeholder { /* Firefox 18- */
	   color: $text-pink;
	   font-size: 16px;
	   line-height: 21px;
	}

	.form-control::-moz-placeholder {  /* Firefox 19+ */
	   color: $text-pink;
	   font-size: 16px;
	   line-height: 21px;
	}

	.form-control:-ms-input-placeholder {
	   color: $text-pink;
	   font-size: 16px;
	   line-height: 21px;
	}

	.contact-section {
		padding: 20px 0;

		.col-xs-12 {
			padding:0;
		}

		.contact-title {
			top:1px;
			left:-40px;
			font-size: 3em;
			letter-spacing: -4px;
		}

		h3 {
			margin: 10px 0;
		}

		.connection-wpr {
			width: 461px;
			height: 445px;

			h4 {
				font-size: 27px;
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-wpr h2 {
		font-size: 45px;
	}

	.header-nav li {
		padding-left:10px;
	}

	.about-wpr {

		.about-text {
			padding-top: 24px;

			span:nth-child(3) {
				font-size: 20px;
				font-weight: $normal;
				padding: 5px 15px 0 15px;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

































