// Colors
$white: #fff;
$black: #000;

$dblue: #303441;
$light-dblue: #373b49;
$pink: #e95258;
$light-pink: #e8686d;
$grey: #666d88;
$off-white: #f2f2f2;
$dark-pink: #c8464c;
$text-pink: #f48c8f;
$light-sky-blue:#7dd4f9;


// Font Sizes
$small: 	12px;
$medium: 	18px;
$large: 	25px;
$big: 		30px;

// Font Weight
$light: 300;
$normal: 400;
$bold: 700;
$extra-bold: 900;

