// Skills

// Sub Section Wrapper
.sub-section-wpr {
    padding: 80px 60px 30px;
}

.skills-wpr {
    position: relative;
    overflow: hidden;

    .skills-title {
        position: absolute;
        left:10px;
        top: -35px;

        opacity: .1;
        font-size: 6.5em;
        letter-spacing: -13px;
    }

    .row {
        margin-top: 30px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .skills-content {
        position: relative;
        padding:0;


        &:hover .skills-icon {
            transform: rotate(-360deg);
            background-color: green;
            color: $white;
        }

        &:hover .text-wpr h4 {
            color:$white;
        }

        .skills-icon {
            transition: all 300ms ease-in-out;
            border-radius: 50px;
            font-size:2.5em;

            .fa-cubes {
                margin-left: 2px;
            }

            .fa-heart-o {
                margin-top: 3px;
            }

            .fa-cogs {
                margin-left: -2px;
            }
        }

        .skills-subtext-wpr {
            position: absolute;
            top: 0;
            left:10px;

            height:70px;
            border-radius:50px;
            width:0%;

            transition: all 300ms ease-in-out;

            &.has-hover {
                width:90%;
                background-color:green;

                .skills-subtext {
                    transition: all 1200ms ease-in-out;
                    opacity: 1;
                }
            }

            .skills-subtext {
                opacity: 0;
                font-size: 1em;
                color:$white;
                padding:16px 10px 16px 75px;
            }
        }

        .text-wpr {
            margin-top:-65px;
            padding-left: 80px;
            font-size:3em;
        }
    }

}

@media all and (min-width: 768px) and (max-width: 1200px){

    .skills-content:nth-of-type(1),
    .skills-content:nth-of-type(2){
        margin: 20px 0;
    }
}

@media all and (min-width: 331px) and (max-width: 768px) {

    .skills-wpr .row {
        margin-top: 0;
    }

    .skills-content:nth-of-type(3) {
        display: none;
    }

    .skills-wpr .skills-content .text-wpr {
        font-size: 2em;
        margin-top: -55px;
        margin-bottom: 16px;
    }

    .skills-wpr .skills-content .skills-subtext-wpr .skills-subtext {
        font-size: .8em;
    }
}

@media only screen and (max-width: 575px) {

    .skills-wpr .skills-content {
        padding-bottom: 15px;

        .text-wpr {
            font-size: 2.5em;
            line-height: 55px;
        }
    }

    .skills-wpr .row {
        margin-top: 0;
    }

    .skills-wpr .sub-section-wpr {
        padding: 40px 10px 20px;

        .skills-title {
            top:-16px;
            left:-1px;
            font-size: 3em;
            letter-spacing: -6px;
        }

        .skills-subtext-wpr .skills-subtext {
            padding-top:5px;
        }

    }
}
