@import 'stylesheets/config/type';
@import 'stylesheets/vendor/waves';
@import 'stylesheets/config/global';

// Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

html {
  font-family: 'Open Sans', sans-serif;
  // background-image: url('images/building.jpeg');
}

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  color: $grey;
}

h1 {
  font-family: audimatbold_italic;
  font-size: 60px;
  color: $black;
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  color: $grey;
}

p,span {
  margin: 0;
  padding: 0;
  color: $grey-light;
  font-weight: 300;
}

// ----------------------------------
// Structure
// ----------------------------------

.full-width {
  width: 100%;
}
