@import 'stylesheets/config/type';
@import 'stylesheets/vendor/waves';

// Google Font
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

html {
  font-family: sans-serif;
  // background-image: url('images/building.jpeg');
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: audimatbold_italic;
  font-size: 60px;
}

h2,
p {
  font-family: Ubuntu;
}

// ----------------------------------
// Structure
// ----------------------------------

.full-width {
  width: 100%;
}
