// Global Styling
html body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !important;
    position: relative;

    &.overflow-hidden {
        overflow: hidden;
    }
}

h2 {
    font-size: $big;
    font-weight: $extra-bold;
}

h3 {
    font-size: $medium;
    font-weight: $normal;
    line-height: 30px;
}

h4 {
    font-size: $medium;
    font-weight:$bold;
    line-height:18px;
}

p {
    font-size:$small;
    font-weight:$bold;
    line-height:21px;
}

h2,
h3,
h4,
p,
span {
    color: $grey;
}

// Logo
.logo {
    display:inline-block;
    font-size:$large;
    font-weight:$bold;
    font-family:'Lato';
    color: $white;
    margin-left:34px;

    img {
        border-right:4px double $white;
        padding:4px 8px 0;
        margin-bottom: 8px;

        ~ span {

            ~ span {
                display: block;
                font-size: $small;
                color:$white;
                margin-top:-5px;
            }
        }
    }

    &:hover {
        color:$white;
    }

    span {
        color: $pink;
    }
}

// Background Wrappers
.section-wpr {

    &.dblue {
        background-color: $dblue;
        border-bottom: 6px solid $light-dblue;

    }

    &.pink {
        background-color:$pink;
        border-bottom: 6px solid $light-pink;

    }

    &.off-white {
        background-color: $off-white;
        border-bottom: 6px solid $white;

    }
}
