
/*General Styling*/
html {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: Josefin Slab !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Josefin Slab !important;
  color: $white !important;
}

p {
  font-family: Josefin Slab !important;
  font-size: $medium;
  color:$white;
}

.section-wpr {
  padding-top:50px;
  padding-bottom:50px;
}

// .color-card {
// 	position: absolute;
// 	left:95%;
// 	width:5%;
// 	height: 100%;
// 	background-color:$white;
// 	overflow:hidden;

// 	p {
// 		position: absolute;
// 		top:15px;
// 		left:100%;
// 		width:900%;
// 		display: block;
// 		color: $black;
// 		font-family: Open Sans !important;
// 		font-size: 28px;
// 		font-weight: $bold;
//     /*transform*/
//     -webkit-transform:rotate(90deg);
//        -moz-transform:rotate(90deg);
//         -ms-transform:rotate(90deg);
//          -o-transform:rotate(90deg);
//             transform:rotate(90deg);
//     /*transform-origin*/
//     -webkit-transform-origin:left top;
//        -moz-transform-origin:left top;
//         -ms-transform-origin:left top;
//          -o-transform-origin:left top;
//             transform-origin:left top;

// 		span {
// 			font-size: $small;

// 			~ span {
// 				font-weight: $normal;
// 				font-size: 20px;
// 				font-family: Open Sans;
// 			}
// 		}
// 	}
// }

/*Animation Action and Styling*/
// Reveal-Card1 page load enter animation
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    /*transform*/
    -webkit-transform:translate3d(-100%, 0, 0);
       -moz-transform:translate3d(-100%, 0, 0);
        -ms-transform:translate3d(-100%, 0, 0);
         -o-transform:translate3d(-100%, 0, 0);
            transform:translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    /*transform*/
    -webkit-transform:none;
       -moz-transform:none;
        -ms-transform:none;
         -o-transform:none;
            transform:none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    /*transform*/
    -webkit-transform:translate3d(-100%, 0, 0);
       -moz-transform:translate3d(-100%, 0, 0);
        -ms-transform:translate3d(-100%, 0, 0);
         -o-transform:translate3d(-100%, 0, 0);
            transform:translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    /*transform*/
    -webkit-transform:none;
       -moz-transform:none;
        -ms-transform:none;
         -o-transform:none;
            transform:none;
  }
}

.fadeInLeft {
/*animation-name*/
-webkit-animation-name:fadeInLeft;
   -moz-animation-name:fadeInLeft;
    -ms-animation-name:fadeInLeft;
     -o-animation-name:fadeInLeft;
        animation-name:fadeInLeft;
/*animation-duration*/
-webkit-animation-duration:1s;
   -moz-animation-duration:1s;
    -ms-animation-duration:1s;
     -o-animation-duration:1s;
        animation-duration:1s;
/*animation-timing-function*/
-webkit-animation-timing-function:ease-in-out;
   -moz-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
     -o-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out;
}

// Flip-Section page load enter animation
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    /*transform*/
    -webkit-transform:translate3d(100%, 0, 0);
       -moz-transform:translate3d(100%, 0, 0);
        -ms-transform:translate3d(100%, 0, 0);
         -o-transform:translate3d(100%, 0, 0);
            transform:translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    /*transform*/
    -webkit-transform:none;
       -moz-transform:none;
        -ms-transform:none;
         -o-transform:none;
            transform:none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    /*transform*/
    -webkit-transform:translate3d(100%, 0, 0);
       -moz-transform:translate3d(100%, 0, 0);
        -ms-transform:translate3d(100%, 0, 0);
         -o-transform:translate3d(100%, 0, 0);
            transform:translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    /*transform*/
    -webkit-transform:none;
       -moz-transform:none;
        -ms-transform:none;
         -o-transform:none;
            transform:none;
  }
}

.fadeInRight {
/*animation-name*/
-webkit-animation-name:fadeInRight;
   -moz-animation-name:fadeInRight;
    -ms-animation-name:fadeInRight;
     -o-animation-name:fadeInRight;
        animation-name:fadeInRight;
/*animation-duration*/
-webkit-animation-duration:1s;
   -moz-animation-duration:1s;
    -ms-animation-duration:1s;
     -o-animation-duration:1s;
        animation-duration:1s;
/*animation-timing-function*/
-webkit-animation-timing-function:ease-in-out;
   -moz-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
     -o-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out;  
}

/*Section Styling*/

// Section 1
.section-bg1 .container{
	width:100%;
	padding:0;

  .hero-img-wpr {
    text-align:center;
    padding-top: 500px;
    background-image: url('imgs/background-img1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center left;

    height:790px;

    h1 {
      color:$black;
      font-size: 50px;
    }

    a {
      margin-top:20px;
      color: $black;
      font-size:$medium2;
      font-weight: $heavy;
      font-family: Josefin Slab;
      line-height: 36px;
      background-color:rgba(128, 128, 128, .5);
      border: 2px solid grey;
      /*transition-duration*/
      -webkit-transition-duration:1s;
         -moz-transition-duration:1s;
           -o-transition-duration:1s;
              transition-duration:1s;

      &:hover {
        border: 2px solid indigo;
        background-color: rgba(177, 99, 163, .80);
        font-weight: $heavy;
        color:yellow;
        /*transition-property*/
        -webkit-transition-property:background-color, font-weight, border, color;
           -moz-transition-property:background-color, font-weight, border, color;
             -o-transition-property:background-color, font-weight, border, color;
                transition-property:background-color, font-weight, border, color;
      }
    }
  }
}

// Logo Lead In
.logo-wpr {
  text-align: right;
  background-color:$true-red;
  padding:16px 0 0;

  #mobile-logo-wpr {
    display: none;
  }

  &.fixed {
    z-index:9999;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    text-align: left;

    #mobile-logo-wpr {
      margin-left: 20px;
      margin-bottom: 20px;
      display: block;

      img {
        width:50px;
        padding:0 8px 0;
        margin-bottom: 4px;

      }
      
      span {
        display: inline;
      }

      .btn {
        float:right;
        margin-top: -8px;
        margin-right: 50px;
        background-color:transparent;
        color:$white;
        font-size: $medium2;
        border:3px double $white;
      }
    }

    .container {
      display: none;
    }
  }

  .row div:first-of-type {
    padding-right:7.5px;

    ~ div {
      padding-left:7.5px;
    }
  }

  img {
    border-right:4px double $white;
    padding:4px 8px 0;
    margin-bottom: 8px;
  }

  span {
    text-align: left;
    display: block;
    font-family:Josefin Slab;
    font-weight: $heavy;
    font-size: $small-medium;
    color:$white;
    margin-top: 10px;


    ~ span {
      display: block;
      font-size: $small;
      margin-top: 0;
    }
  }
}

// Section 3
.section-bg3 {
	background-color:$emerald;
	border-top:4px double $white;
	position: relative;

	h3 {
		font-size: $xlarge;
		border-bottom:3px double $white;
		margin-top: -30px;
		margin-bottom: 40px;
	}

	p { font-weight: $heavy; }
}

// Section 4
.section-bg4 {
  background-color:$blue-turquoise;
  border-top:4px double $white;
  position: relative;

  .card-section{
    height:950px;

    h3 {
      font-size: $xlarge;
      border-bottom:3px double $white;
      margin-top:-30px;
      margin-bottom:40px;
    }

    .portfolio-card {
      text-align:center;
      background-color:$blue-turquoise;
      background-position: center 22%;
      background-repeat:no-repeat;
      height:90px;
      padding-bottom:240px;
      padding-left:10px;
      padding-right:10px;
      border:2px solid black;
      /*border-radius*/
      -webkit-border-radius:5px;
         -moz-border-radius:5px;
              border-radius:5px;
      /*transition-duration*/
      -webkit-transition-duration:1s;
         -moz-transition-duration:1s;
           -o-transition-duration:1s;
              transition-duration:1s;

      &#card1 {
        background-image: url('imgs/frontend-icon1-inverted.png');
        /*transition-duration*/
        -webkit-transition-duration:0s;
           -moz-transition-duration:0s;
             -o-transition-duration:0s;
                transition-duration:0s;
      }

      &#card2 {
        background-image: url('imgs/prototyping-icon1-inverted.png');
        /*transition-duration*/
        -webkit-transition-duration:0s;
           -moz-transition-duration:0s;
             -o-transition-duration:0s;
                transition-duration:0s;
      }

      &#card3 {
        background-image: url('imgs/testing-icon1-inverted.png');
        /*transition-duration*/
        -webkit-transition-duration:0s;
           -moz-transition-duration:0s;
             -o-transition-duration:0s;
                transition-duration:0s;
      }

      img {
        opacity: 0;
        margin-top: 30px;
        /*transition-duration*/
        -webkit-transition-duration:.75s;
           -moz-transition-duration:.75s;
             -o-transition-duration:.75s;
                transition-duration:.75s;
      }

      strong {
        display: block;
        color:$white;
        font-size: 22px;
        font-weight:$normal;
        font-family: Josefin Slab;
        letter-spacing: 2px;
        padding-top:15px;
        /*transition-duration*/
        -webkit-transition-duration:.75s;
           -moz-transition-duration:.75s;
             -o-transition-duration:.75s;
                transition-duration:.75s;
      }

      &.active {
        text-decoration: none;
        background-color: $mimosa;
        /*transition-property*/
        -webkit-transition-property:background-color;
           -moz-transition-property:background-color;
             -o-transition-property:background-color;
                transition-property:background-color;
        /*transition-timing-function*/
        -webkit-transition-timing-function:ease-in-out;
           -moz-transition-timing-function:ease-in-out;
             -o-transition-timing-function:ease-in-out;
                transition-timing-function:ease-in-out;

        &#card1,
        &#card2,
        &#card3 {
          background-image: none;
          background-position: center top;
          transition-property: background-image, background-position;
        }

        img {
          opacity: 1;
          margin-top: 20px;
          /*transition-property*/
          -webkit-transition-property:opacity, margin-top;
             -moz-transition-property:opacity, margin-top;
               -o-transition-property:opacity, margin-top;
                  transition-property:opacity, margin-top;
        }

        strong {
          color: $black;
          /*transition-property*/
          -webkit-transition-property:color;
             -moz-transition-property:color;
               -o-transition-property:color;
                  transition-property:color;
        }
      }
    }

    .projects-reveal {
      display: none;
      width:316.75%;
      margin-top:16px;
      text-align:center;
      padding:16px 36px 0 36px;
      font-size:$small-medium;

      img {
        position: relative;
        width: 100%;
        /*box-shadow*/
        -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8);
           -moz-box-shadow:0 0 2px rgba(0,0,0,0.8);
                box-shadow:0 0 2px rgba(0,0,0,0.8);
      }

      span {
        font-family: Josefin Slab;
        font-weight: $normal;
      }

      .turnedupshadow {
        height: 228px;
        background:url(imgs/turnedup-shadow.png) no-repeat; 
        background-position: 0 100%;

        &.md,
        &.lg {
          height:314px;
          background-size:contain;
          padding-top:16px;

          img {
            height: 300px;
          }

          .text-reveal {
            margin-top: 16px;
            height:91%;
          }
        }

        &.sm .text-reveal {
          margin-top: 16px;
          height:89.5%;
        }

        &.lg {
          height:330.25px !important;

            a {
              margin-top: 55px;
            }
          }
        }

      .text-reveal {
        position:absolute;
        top:0;
        left:0;
        height:95.5%;
        margin-right:15px;
        margin-left:15px;
        padding-top:10%;
        padding-right:15px;
        padding-left:15px;
        background-color:rgba(128, 128, 128, .9);
        display: none;

        span {
          color:$white;
          font-size: $medium;
          font-weight: $bold;
        }

        a {
          color: $black;
          font-size:$small-medium;
          font-weight: $normal;
          font-family: Lato;
          background-color:$mimosa;
          width:100%;
          margin-top: 8px;
          border: 1px solid transparent;
          float: left;
          /*transition-duration*/
          -webkit-transition-duration:1s;
             -moz-transition-duration:1s;
               -o-transition-duration:1s;
                  transition-duration:1s;

          &:hover {
            color:$white;
            background-color:transparent;
            border: 1px solid $white;
            /*transition-property*/
            -webkit-transition-property:color, background-color, border;
               -moz-transition-property:color, background-color, border;
                 -o-transition-property:color, background-color, border;
                    transition-property:color, background-color, border;
          }
        }
      }

      &.active {
        display: block;
      }
    }

    .reveal-card2 {
      margin-left: -390px;
    }

    .reveal-card3 {
      margin-left: -780px;
    }
  }

  .mobile-reveal {
    display: none;
    text-align: left;
  }
}


// Section 5
.section-bg5{
  background-color:$tigerlily;
  height:450px;
  border-top:4px double $white;
  position: relative;

  .flip-section-wpr {
    display:none;

    h3 {
      font-size: $xlarge;
      border-bottom:3px double $white;
      margin-top:-30px;
      margin-bottom: -8px;
    }

    &.active {
      display: block !important;
    }

    .skills-wpr {
      text-align:center;
      padding:16px 0;
      color:$emerald;
      font-size:$medium-large;
      font-weight:$bold;
      font-family: Roboto Slab;
      border-left: 10px double $emerald;
      border-bottom: 10px double $emerald;
      border-bottom-left-radius: 20px;
      background-color:whitesmoke;
      width: 100%;
      height: 75px;

      &.back {
        border-left: 10px double whitesmoke;
        border-bottom: 0px solid transparent;
        border-top: 10px double whitesmoke;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        background-color:$emerald;

        color:$white;
        font-size: 14px;
        font-weight: $normal;
        text-align: left;
        padding:16px;
      }
    }
  }


  .flip-container {
    position: relative;
    margin-top:50px;
    width: 100%;
    height: 75px;

    .flip-wpr {
      -webkit-transform-origin: 100% 37.5px; /* half of height */
        -moz-transform-origin: 100% 37.5px; /* half of height */
          -o-transform-origin: 100% 37.5px; /* half of height */
            transform-origin: 100% 37.5px; /* half of height */
      /*transition*/
      -webkit-transition:0.6s;
         -moz-transition:0.6s;
           -o-transition:0.6s;
              transition:0.6s;
      /*transform-style*/
      -webkit-transform-style:preserve-3d;
         -moz-transform-style:preserve-3d;
          -ms-transform-style:preserve-3d;
           -o-transform-style:preserve-3d;
              transform-style:preserve-3d;
      // position: relative;

      .front, .back {
        position: absolute;
        top: 0;
        left: 0;
        /*backface-visibility*/
        -webkit-backface-visibility:hidden;
           -moz-backface-visibility:hidden;
            -ms-backface-visibility:hidden;
             -o-backface-visibility:hidden;
                backface-visibility:hidden;
      }

      .back {
      /*transform*/
      -webkit-transform:rotateX(180deg);
         -moz-transform:rotateX(180deg);
          -ms-transform:rotateX(180deg);
           -o-transform:rotateX(180deg);
              transform:rotateX(180deg);
      }
    }

    &:hover .flip-wpr {
      /*transform*/
      -webkit-transform:rotateX(-180deg);
         -moz-transform:rotateX(-180deg);
          -ms-transform:rotateX(-180deg);
           -o-transform:rotateX(-180deg);
              transform:rotateX(-180deg);
    }
  }

  // IE Override
  .ie-sux {
    .back {
      display: none;
    }
  }

}

// Section 6
.section-bg6{
	background-color:$sand-dollar;
	border-top:4px double $white;
	position: relative;

	h3 {
		color: dimgrey !important;
		font-size: $xlarge;
		border-bottom:3px double dimgrey;
		margin-bottom: 20px;
	}


	h4 {
		padding:10px 0;
		font-size: $large;
		color:dimgrey !important;
	}

	a {
		display: block;
		margin-top: 16px;

		img {
			width:100%;
		}
	}

  // Contact Form Styles
  .field {
      margin: 16px 0;

    label {
      color: dimgrey;
      font-size: $small-medium;
      font-family: Roboto Slab;
    }

    .form-control {
      height:55px;
        font-size: $medium-large;
        font-weight: $light;
        font-family: Josefin Slab;
        letter-spacing: 1.5px;


        &.funtime {
        border: 2px solid indigo;
        background-color: rgba(177, 99, 163, .80);
        color:yellow;
        /*transition-property*/
        -webkit-transition-property:background-color, font-weight, border, color;
           -moz-transition-property:background-color, font-weight, border, color;
             -o-transition-property:background-color, font-weight, border, color;
                transition-property:background-color, font-weight, border, color;
        }
      }
  }


  .success {
    padding: 16px;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    /*border-radius*/
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
  }

  .error {
    padding: 16px;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    /*border-radius*/
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
  }
}

// Footer Section
footer {
  background-color: grey;
  color:$white;
  text-align:center;
  font-size:$super;
  font-family:Herr Von Muellerhoff;
  padding:32px 0 !important;
  margin: 0;
  width: 100%;
}





























