/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 767px) {
	.hero-img-wpr {
		background-image: url('imgs/mobile-background-img1.png') !important;
		padding-top:500px !important;
		background-attachment: inherit !important;
		background-position:center right !important;
		height: 0px !important;

		h1 {
			margin-top: -200px;
			margin-bottom: 0;
			font-size: 40px;

			~ a {
				margin-top: 0;
				font-size: $medium;
				padding:0 6px;

			}
		}
	}

	#mobile-logo-wpr {
		margin-left: 0px !important;
		 .btn {
		 	margin-right: 10px !important;
		 }
	}

	.color-card {
		display: none;
	}

	.section-bg4 .card-section {
		height:auto;

		.portfolio-card {
			margin-top: 10px;
		}

		.projects-reveal{
			width:100%;
			padding:0;

			.row:last-of-type {
				display: none;
			}

			.mobile-reveal {
				display: block!important;

				ul{
					list-style: none;
					padding:0;

					li {
						margin-top: 16px;
						text-align: center;
						color:$white;
						background-color:dimgrey;
						border-bottom: 10px double $white;
						border-left: 10px double $white;
						border-bottom-left-radius:20px;
					}
				}
			}

			&.reveal-card1 .mobile-reveal{
				padding:0 !important;
			}

			&.reveal-card2,
			&.reveal-card3 {
				margin:0;
			} 
		}
	}

	.section-bg5{
		height: auto !important;

		.flip-container {
			height:35px;
		}
	}

	.section-bg6{
		h4 { display: none; }

		#mobile1 { margin-bottom: 30px; }
	}
}


/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-img-wpr {
		padding-top:700px;
		background-image: url('imgs/mobile-background-img1.png') !important;
		background-attachment: inherit;
		height: 0px;

		h1 {
			margin-top: -155px;
			margin-bottom: 0;

			~ a {
				margin-top: 0;
			}
		}
	}

	.section-bg4 .card-section {
		height:670px;

		.portfolio-card {
			padding-bottom:0;

			&#card1,
			&#card2,
			&#card3 {
				background-image: none !important;
	
				img { 
					display: none !important;
				}
			}
		}


		.projects-reveal{
		
			&.reveal-card2 {
				margin-left: -250px;

				.turnedupshadow.md {
					height:254.25px !important;

					img {
						height:230px !important;
					}
				}
			}

			&.reveal-card3 {
				margin-left: -500px;

				.turnedupshadow.sm {
					height:152px !important;

					img {
						margin-top: 20px !important;
					}
				}
			}

			.turnedupshadow {
			height:132px !important;


				.text-reveal {
					display: none !important;
				}

				&.lg {
					height: 271.25px !important;
					
					img {
						height:238px !important;
					}
				}
			} 
		}
	}

	.front {
		font-size: 22px !important;
		line-height: 20px;
		padding: 22px 0 !important;

		&#double-line {
			padding: 12px 0 !important;
		}
	}

	.back {
		font-size: 12px !important;

		padding:8px 16px !important;
	}

	.field {
		margin: 12px 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.card-section .projects-reveal{
	
		&.reveal-card2 {
			margin-left: -322px;

			.turnedupshadow.md {
				height:311px !important;

				img {
					height:284px !important;
				}

				.text-reveal {
					height:92% !important;
					padding-top: 25% !important;
				}
			}

		}

		&.reveal-card3 {
			margin-left: -647px;

			.turnedupshadow.sm {
				height:199.25px !important;

				img {
					margin-top: 16px;
				}

				.text-reveal {
					height: 87.5% !important;
				}
			}
		}

		.turnedupshadow {
		height:183px !important;

			.text-reveal {
				height:94.5% !important;
				padding-top: 5% !important;
			}

			&.lg {
				height:324.25px !important;

				img {
					height:290px !important;
				}

				.text-reveal {
					height: 88.5% !important;
				}
			}
		} 
	}

	.field textarea {
		height:147px !important;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.turnedupshadow.sm .text-reveal {
		margin-top: 0 !important;
		height: 95.5% !important;
	}

	.field textarea {
		height: 248px !important;
	}
}

































