
// Colors
$white: #fff;
$black: #000;
$radiant-orchid: #b565a7;
$emerald: #009b77;
$true-red:#bc243c;
$tigerlily:#e15d44;
$blue-turquoise:#55b4b0;
$sand-dollar: #dfcfbe;
$mimosa: #efc050;

// Font Sizes
$tiny: 			10px;
$small: 		12px;
$small-medium: 	16px;
$medium: 		18px;
$medium2: 		20px;
$medium-large: 	24px;
$large: 		28px;
$xlarge: 		32px;
$big: 			36px;
$huge: 			40px;
$super: 		60px;

// Font Weight
$thin: 100;
$light: 300;
$normal: 400;
$heavy: 600;
$bold: 700;