// Footer Section
footer {

    .section-wpr.footer {
        height:75px;
    }

    span {
        display: inline-block;
        margin-top:25px;
        margin-left: 36px;
    }

    ul {
        float:right;
        margin-top:20px;
        margin-left:-15px;

        li {
            padding-left:8px;
        }
    }
}