
// Sprites

.facebook-icon {
    background: url('imgs/spritesheet.png') no-repeat -5px -75px;
    width: 32px;
    height: 32px;
    display:block;
}

.google-icon {
    background: url('imgs/spritesheet.png') no-repeat -5px -112px;
    width: 32px;
    height: 32px;
    display:block;
}

.twitter-icon {
    background: url('imgs/spritesheet.png') no-repeat -5px -147px;
    width: 32px;
    height: 32px;
    display:block;
}

.linkedin-icon {
    background: url('imgs/spritesheet.png') no-repeat -5px -182px;
    width: 32px;
    height: 32px;
    display:block;
}

.pin-icon {
    background: url('imgs/spritesheet.png') no-repeat -30px -28px;
    width: 7px;
    height: 11px;
}

.mail-icon {
    background: url('imgs/spritesheet.png') no-repeat -27px -9px;
    width: 13px;
    height: 8px;
}

.phone-icon {
    background: url('imgs/spritesheet.png') no-repeat -28px -46px;
    width: 11px;
    height: 11px;
}