// Works Section
.works-wpr {
    position: relative;

    .works-bg-mask {
        @extend .nav-bg-mask;

        &.is-open {
            display: block;
        }
    }

    .works {

        .works-title {
            position: absolute;
            left:0;
            top: -35px;

            opacity: .2;
            font-size: 6.5em;
            letter-spacing: -12px;
        }

        .works-content-wpr  {
            padding: 85px 80px 50px;
            position: relative;

            .fa-close {
                position: absolute;
                top:100px;
                right:70px;
                z-index: 9998;

                display: none;

                color:$white;
                font-size: 4em;

                cursor: pointer;
            }

            .works-img-wpr {
                display: none;
                position: absolute;
                z-index: 9998;
                height: 600px;
                width:750px;
                top:155px;

                .works-img {
                    width: 100%;

                    ~ span {
                        text-decoration: underline;
                        color:$white;
                        font-size: 3em;

                    }
                }
            }

            .works-content {
                position: relative;
                overflow: hidden;
                opacity: 1;

                text-align: center;

                img {
                    transition: all 500ms ease-in-out;
                }

                .works-content-text {
                    position: absolute;
                    top:40%;
                    right:0;
                    left:0;
                    color:$white;
                    font-size: 2em;

                    transform: scale(0);

                    transition: all 500ms ease-in-out;
                }

                &:hover img{
                    transform: scale(1.5);
                    opacity: .2;
                }

                &:hover .works-content-text{
                    transform: scale(1);
                }

            }
        }
    }
}



@media all and (max-width: 1200px) {
    .works-wpr .works .works-content-wpr .works-content .works-content-text {
        font-size: 1.5em;
    }
}

@media all and (max-width: 992px) {
    .works-wpr .works .works-content-wpr .works-content .works-content-text {
        font-size: 1.2em;
    }

    .works-wpr .works .works-content-wpr .works-img-wpr .works-img~span {
        font-size: 1.5em;
    }
}

@media all and (max-width: 768px) {

    .works-wpr .works .works-content-wpr .works-img-wpr {
        height: 300px;
        width:400px;
    }

    .works-wpr .works .works-content-wpr {
        padding: 85px 5px 0;
    }

}

@media all and (max-width: 575px) {

    .works-wpr .works .works-content-wpr .works-img-wpr {
        height: 200px;
        width:300px;
    }

    .works-wpr .works .works-content-wpr .fa-close {
        display: none !important;
    }

    .works-wpr .works {

        .works-content-wpr {
            padding: 55px 5px 30px;
        }

        .works-title {
            top:-16px;
            font-size: 3em;
            letter-spacing: -5px;
        }

        #works-scrollTarget .works-content {
            padding-bottom: 4px;

            .works-content-text {
                top:221px;
                background-color: rgba(233,82,88, .9);
                transform: scale(1);
                font-weight: bold;
                border-bottom:2px solid $white;

                &.half-width {
                    top:136px;
                }

                &.full-width {
                    top:82px;
                }
            }
        }
    }

}









